* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    
    padding-bottom: 146px;
}

.container {
    width: 1105px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
}

ul {
    display: flex;
    gap: 42px;
    list-style: none;
    color: #34547A;
}

ul li a {
    font-family: Mulish;
font-size: 18px;
font-weight: 700;
line-height: 22.59px;
text-align: left;
color:  gray;
}

ul li a:hover {
    color: black;
}

.header {
    display: flex;
    gap: 42px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 162px;
    flex-direction: row-reverse; /* меняем порядок элементов по оси X */
}
    


.header-right h1 {
    font-family: Mulish;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    
}

.header-right p {
    font-family: Mulish;
font-size: 21px;
font-weight: 300;
line-height: 32px;
text-align: left;
color: #7D7987;
}

.btn {
    background: #458FF6;
    border-radius: 55px;
    border: solid 2px transparent;
    padding: 17px 51px;
    margin-top: 146px;
    color: white;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;

}
